{% extends "base.twig" %}

{% block title %} {{dino.name}}{% endblock %}

{% block main %}
<div class="grid">
    <article>
        <h2>Discover the {{dino.name}}</h2>

        <div class="description">
            {{descriptionMD|raw}}
        </div>

        <div class="card">
            <img src="{{dino.avatar}} " alt="{{dino.slug}}" />
            <dl>
                <dt>Name</dt>
                <dd>{{dino.name}}</dd>
                <dt>Name meaning</dt>
                <dd>{{dino.name_meaning}}</dd>
                <dt>Diet</dt>
                <dd>{{dino.diet}}</dd>
                <dt>Height</dt>
                <dd>{{dino.height}}</dd>
                <dt>Length</dt>
                <dd>{{dino.length}}</dd>
                <dt>Weight</dt>
                <dd>{{dino.weight}}</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        <!-- iterate here ? -->
            <a href="">
                <figure>
                    <img src="" alt="" />
                    <figcaption>Discover the Brachiosaurus</figcaption>
                </figure>
            </a>
    </aside>
</div>
{% endblock %}